@import "../../colors";

#view-event {
	margin: auto;
	width: 60%;

	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;

	background-color: $white;
	color: $black;

	font-family: "Open Sans";
	font-size: 24px;

	#error-message {
		color: $error;
	}

	h2 {
		font-family: "Ubuntu";
		font-size: 48px;
		font-weight: 700;
	}

	h3 {
		font-family: "Ubuntu";
		font-size: 30px;
		font-weight: 500;

		margin-top: -.4em;
		margin: -0.4em auto 0.5em;
	}

	.bolder {
		font-weight: 600;
	}

	#profile-link {
		margin: 1em 0;
	}

	#scores {
		width: 100%;
		text-align: left;
	}

	#scores h3 {
		color: $black;
	}

	span {
		color: $black;
		font-weight: 700;
	}

	ol li {
		float: left;
		margin: 0 12px;
		padding: 0px 20px 0px 0;
	}

	ol {
		margin-left: -25px;
	}

	p {
		font-weight: 400;
	}
}
