@import "../../reset";

main {
	display: flex;
	flex-direction: column;
	justify-content: left;
	text-align: left;
	margin: auto;
	width: 60%;
	background-color: $white;
	color: $black;

	p {
		font-family: "Open Sans";
		text-align: left;
	}

	li {
		font-size: 24px;
		text-align: left;
		font-weight: 100;
	}

	.name {
		font-size: 40px;
		font-weight: bold;
	}

	.usern {
		font-size: 24px;
		font-weight: 100;
	}

	.scoreEvent {
		font-size: 32px;
	}

	.items {
		font-size: 24px;
	}
}
